body {
    font-family: 'Inter', sans-serif;
}

.progress-bar-bg {
    background-color: rgba(255, 255, 255, 0.2);
}

.progress-bar-fg {
    background-color: #fff;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

#particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.particle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: float 25s infinite linear;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

#queue-modal.hidden {
    display: none;
}

.repeat-btn.active {
    color: #A1A1AA;
    /* purple-500 */
}

#playlist-menu {
    max-height: 40vh;
    /* Giới hạn chiều cao theo màn hình */
    overflow-y: auto;
    /* Thêm thanh cuộn khi cần */
}

#playlist-menu::-webkit-scrollbar,
#queue-content::-webkit-scrollbar {
    width: 6px;
}

#playlist-menu::-webkit-scrollbar-track,
#queue-content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#playlist-menu::-webkit-scrollbar-thumb,
#queue-content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

#playlist-menu::-webkit-scrollbar-thumb:hover,
#queue-content::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

.text-gradient {
    background-image: linear-gradient(45deg, #1db954, #6ee7b7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}